<% content_for :page_title do %>
  <%= Spree.t(:ca_sales_totals) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, :class => 'button' %></li>
<% end %>


<% content_for :table_filter_title do %>
  <%= Spree.t(:date_range) %>
<% end %>

<% content_for :table_filter do %>
  <%= search_form_for @search, :url => spree.ca_sales_total_admin_reports_path  do |s| %>
    <div class="date-range-filter field align-center">
        <%= label_tag nil, Spree.t(:start), :class => 'inline' %>
        <%= s.text_field :completed_at_gt, :class => 'datepicker datepicker-from', :value => datepicker_field_value(params[:q][:completed_at_gt]) %>
        
        <span class="range-divider">
          <i class="fa fa-arrow-right"></i>
        </span>

        <%= s.text_field :completed_at_lt, :class => 'datepicker datepicker-to', :value => datepicker_field_value(params[:q][:completed_at_lt]) %>
        <%= label_tag nil, Spree.t(:end), :class => 'inline' %>
    </div>

    <div class="actions filter-actions">
      <%= button Spree.t(:search), 'search'  %>
    </div>
  <% end %>
<% end %>

<table class="admin-report" data-hook="ca_sales_total">
  <thead>
    <tr>
      <th><%= Spree.t(:currency) %></th>
      <th><%= Spree.t(:item_total) %></th>
      <th><%= Spree.t(:adjustment_total) %></th>
      <th><%= Spree.t(:sales_total) %></th>
    </tr>
  </thead>
  <tbody>
    <% @totals.each do |key, row| %>
      <tr class="align-center">
        <td><%= key %></td>
        <td><%= row[:item_total].format %></td>
        <td><%= row[:adjustment_total].format %></td>
        <td><%= row[:sales_total].format %></td>
      </tr>
    <% end %>
  </tbody>
</table>
